.centered-header{
    float:center;
    text-align:center;
}

.centered-content{
    float:center;
    text-align:center;
}

#add_button{
    margin: 0px 5px 0px 5px;
    font-size:15px;
    color:#2eb82e;
}

#add_button:hover{
    color: #1aff1a;
}

.back_button{
    margin:5px 0px 5px 10px;
    font-size:25px;
    color: #7f7f7f;
} 

.up_button{
    font-size:25px;
    color: #7f7f7f;
    margin:0px 20px 10px 0px;;
}

/* .navbar {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgb(255, 255, 255, 0.2);
  } */

  #create_btn{
      float:right;
      margin:16px 0px 16px 0px;
  }

  #crud_btn{
    margin: 2px 5px 2px 5px;
  } 

  #admin_panel_item{
      margin:20px 0px 20px 0px;
  }

  #admin_panel_btn{
      margin-left:13px;
      display: inline;
  }
