body{
    background-image:url('gradient_03.jpg'); 
    background-repeat:no-repeat; 
    background-size:cover;
    color:white;
}

.centered-header{
    float:center;
    text-align:center;
}

.centered-content{
    float:center;
    text-align:center;
}

.back_button{
    margin:5px 0px 5px 10px;
    font-size:25px;
    color: #ffffff;
} 

.back_button:hover{
    color:rgba(0,0,0, 0.3);
}

.up_button{
    font-size:25px;
    color: #ffffff;
    margin:0px 20px 10px 0px;;
}

.up_button:hover{
    color:rgba(0,0,0, 0.3);
}

#transparent_card{
    background-color:rgba(0,0,0,0.1);
}

.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 70px;
  }

  .navbar-brand {
    color:white !important;
    font-weight:bold;
    font-size:20px;
    letter-spacing: 1px;
    padding: 0 10px;
    height: 70px;
    line-height: 70px;
  }

    a.nav-link {
        color:white !important;
        font-size:12px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }

    a.nav-link:hover{
        border-bottom: 1px solid white;
    }

    .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.2) !important;
    }

    .dropdown-item {
        padding-top:15px;
        color:white !important;
        font-size:12px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }

    .dropdown-item:hover{
        background-color: rgba(0, 0, 0, 0.2) !important;
        font-weight:bold;
    }


  #create_btn{
      float:right;
      margin:16px 0px 16px 0px;
  }

  #crud_btn{
    margin: 2px 5px 2px 5px;
  } 

  #admin_panel_item{
      margin:20px 0px 20px 0px;
  }

  #admin_panel_btn{
      margin-left:13px;
      display: inline;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }

  /* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 73%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
    max-height:150%;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Victoria Buttons */

a.animated-button.victoria-four {
	border: 2px solid #f1ba54;
}
a.animated-button.victoria-four:after {
	background: #f1ba54;
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
	opacity: 1;
	height: 600% !important;
}
